@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Singleton:  @ViewBag.Singleton</p>
    <p>Scoped:  @ViewBag.Scoped</p>
    <p>Transient:  @ViewBag.Transient</p>
    
    <hr />
    
     <p>Singleton in another object :  @ViewBag.SSingleton</p>
    <p> Başka bir nesnedeki Scoped değeri  @ViewBag.SScoped</p>
    <p>Transient:  @ViewBag.STransient</p>
</div>
